@using EstudoCriptografia.Models
@model ViewModel

@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<div class="jumbotron">
    <h1>Projeto teste criptografia</h1>
</div>
@Model.Id

<div class="row">
    <div class="col-sm-12">
        <button id="btnTesteJson" class="btn btn-primary">Teste JSon</button>
    </div>
    <div class="col-sm-12">
        <button id="btnTesteJsonList" class="btn btn-primary">Teste Lista</button>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('#btnTesteJson').on('click', function () {
            $.ajax({
                url: '@Url.Action("JSon")',
                type: 'GET',
                success: function (data) {
                    debugger
                }
            });
        });

        $('#btnTesteJsonList').on('click', function () {
            $.ajax({
                url: '@Url.Action("JSonTesteLista")',
                type: 'GET',
                success: function (data) {
                    debugger
                }
            });
        });
    });


</script>